/* line 1, scss/modules/_width100.scss */
.width100 {
  width: 100%;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, scss/partials/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 16, scss/partials/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 19, scss/partials/_reset.scss */
body {
  line-height: 1;
}

/* line 22, scss/partials/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 25, scss/partials/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, scss/partials/_reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 34, scss/partials/_reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 38, scss/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 2, scss/partials/_headers.scss */
#headers-top-bar {
  background: #3D3092;
  height: 50px;
}
/* line 6, scss/partials/_headers.scss */
#headers-top-bar img {
  width: 100px;
  margin-top: 7px;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

/* line 16, scss/partials/_headers.scss */
.header-startpage {
  height: 173px;
  width: 100%;
  background: #3D3092;
}
/* line 21, scss/partials/_headers.scss */
.header-startpage h3 {
  color: white;
  text-align: center;
  width: 100%;
  margin-top: 10px;
  font-weight: 100;
  font-size: 1em;
}

/* line 32, scss/partials/_headers.scss */
.lecturer-startpage-header {
  height: 173px;
  width: 100%;
  background: white;
  margin-bottom: 20px;
}

/* line 39, scss/partials/_headers.scss */
.header-l-subjects-header {
  height: 50px;
  width: 100%;
  background: #16BF25;
}

/* line 3, scss/partials/_buttons.scss */
.submit, .drawing-app-submit, .drawing-app-question {
  height: 60px;
  width: 150px;
  border: 2px solid #AFA5FF;
  border-radius: 50px;
  color: #AFA5FF;
  font-size: 16px;
  transition: 0.4s;
  outline-style: none;
  cursor: pointer;
  height: 30px;
  width: 100px;
  background-color: #3D3092 !important;
  background-color: #FFF;
}
/* line 19, scss/partials/_buttons.scss */
.submit:hover, .drawing-app-submit:hover, .drawing-app-question:hover {
  border: 2px solid #FFF;
  color: #FFF;
  transition: 0.4s;
}

/* line 26, scss/partials/_buttons.scss */
.drawing-app-submit {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* line 35, scss/partials/_buttons.scss */
.drawing-app-question {
  position: absolute;
  top: 10px;
  left: 10px;
}

/* line 45, scss/partials/_buttons.scss */
.button-goto-prepare {
  background-color: #3D3092;
  width: 150px;
  height: 100%;
  display: inline-block;
  float: right;
  color: white;
  text-align: center;
}
/* line 55, scss/partials/_buttons.scss */
.button-goto-prepare p {
  margin-top: 15px;
}
/* line 59, scss/partials/_buttons.scss */
.button-goto-prepare:hover {
  background-color: #2d236c;
}

/* line 5, scss/partials/_canvas.scss */
#drawing-app {
  overflow: hidden;
}

/* line 10, scss/partials/_canvas.scss */
#app-bar {
  background: #3D3092;
  height: 70px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* line 17, scss/partials/_canvas.scss */
#app-bar img {
  height: 30px;
  margin-top: 22px;
  margin-left: 30px;
}
/* line 24, scss/partials/_canvas.scss */
#app-bar .icon-select {
  display: inline-block;
  margin-left: calc(100vw / 8);
  height: 70px;
  width: 90px;
}
/* line 31, scss/partials/_canvas.scss */
#app-bar .selected {
  background: #1d1745;
}

/* line 1, scss/partials/_start_three_input.scss */
input:focus {
  outline: none;
}

/* line 5, scss/partials/_start_three_input.scss */
.CodeInput {
  width: 65px;
  height: 65px;
  background: #eee;
  border-radius: 15%;
  border: 1px solid #4a4a4a;
  font-size: 40px;
  text-align: center;
  font-weight: 700;
}

/* line 16, scss/partials/_start_three_input.scss */
#start-input {
  width: 210px;
  margin: auto;
  margin-top: 30px;
}

/* line 22, scss/partials/_start_three_input.scss */
.start-or {
  margin-top: 20px;
  text-align: center;
}
/* line 26, scss/partials/_start_three_input.scss */
.start-or span {
  position: relative;
  display: inline-block;
}

/* line 32, scss/partials/_start_three_input.scss */
.start-or:before {
  content: '';
  border-top: 3px solid #000;
  width: 47%;
  position: absolute;
  height: 5px;
  left: 0;
  margin-top: 10px;
}

/* line 42, scss/partials/_start_three_input.scss */
.start-or:after {
  content: '';
  border-top: 3px solid #000;
  width: 47%;
  position: absolute;
  height: 5px;
  right: 0;
  margin-top: 10px;
}

/* line 52, scss/partials/_start_three_input.scss */
.start-section-subjects {
  margin-top: 20px;
  width: 100%;
}
/* line 57, scss/partials/_start_three_input.scss */
.start-section-subjects ul {
  max-width: 400px;
  margin: auto;
}
/* line 62, scss/partials/_start_three_input.scss */
.start-section-subjects ul li {
  color: white;
  text-align: center;
  height: 30px;
  background: #16BF25;
  border-radius: 15px;
  margin: 3px;
  padding-top: 12px;
  transition: .3s;
}
/* line 73, scss/partials/_start_three_input.scss */
.start-section-subjects ul li:hover {
  background: #0b6413;
}

/* line 1, scss/partials/_images.scss */
.images-startpage-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  padding-top: 30px;
}

/* line 9, scss/partials/_images.scss */
.images-l-subjects {
  display: inline-block;
  height: 30px;
  padding-top: 10px;
  float: left;
}

/* line 2, scss/partials/_headers.scss */
#headers-top-bar {
  background: #3D3092;
  height: 50px;
}
/* line 6, scss/partials/_headers.scss */
#headers-top-bar img {
  width: 100px;
  margin-top: 7px;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

/* line 16, scss/partials/_headers.scss */
.header-startpage {
  height: 173px;
  width: 100%;
  background: #3D3092;
}
/* line 21, scss/partials/_headers.scss */
.header-startpage h3 {
  color: white;
  text-align: center;
  width: 100%;
  margin-top: 10px;
  font-weight: 100;
  font-size: 1em;
}

/* line 32, scss/partials/_headers.scss */
.lecturer-startpage-header {
  height: 173px;
  width: 100%;
  background: white;
  margin-bottom: 20px;
}

/* line 39, scss/partials/_headers.scss */
.header-l-subjects-header {
  height: 50px;
  width: 100%;
  background: #16BF25;
}

/* *****
** Font Family
* *****/
/* line 5, scss/partials/_typography.scss */
body {
  font-family: "Ariel", serif;
}

/* *****
** Typograhpy
* *****/
/* line 14, scss/partials/_typography.scss */
.type-welcome {
  text-align: center;
}

/* line 19, scss/partials/_typography.scss */
.type-welcome span {
  font-weight: 600;
}

/* line 25, scss/partials/_typography.scss */
.startpage-welcome {
  color: white;
  text-align: center;
  width: 100%;
  margin-top: 10px;
  font-weight: 100;
  font-size: 1em;
}

/* line 36, scss/partials/_typography.scss */
.start-section-input h3 {
  text-align: center;
  padding-top: 10px;
  font-weight: 800;
}

/* line 50, scss/partials/_typography.scss */
.lecturer-startpage-welcome {
  color: #000;
  text-align: center;
  width: 100%;
  margin-top: 10px;
  font-weight: 100;
  font-size: 1em;
}

/* line 59, scss/partials/_typography.scss */
#lecturer-start-username {
  font-weight: 600;
}

/* line 64, scss/partials/_typography.scss */
.type-lecture-mode h2, .type-prepare-mode h2 {
  color: white;
  font-size: 50px;
  text-align: center;
  font-weight: 500;
  padding-top: calc(55vh - 173px);
  margin-bottom: 30px;
}
/* line 73, scss/partials/_typography.scss */
.type-lecture-mode h3, .type-prepare-mode h3 {
  color: white;
  font-weight: 300;
  text-align: center;
}

/* line 80, scss/partials/_typography.scss */
.typography-l-h3 {
  color: white;
  display: inline-block;
  margin-left: 20px;
  margin-top: 18px;
}

/* line 6, scss/partials/_theme.scss */
.lecture-mode {
  background: #0b6413;
  height: calc(100vh - 173px);
  cursor: pointer;
  transition: .3s;
}
/* line 12, scss/partials/_theme.scss */
.lecture-mode:hover {
  background: #16BF25;
}

/* line 17, scss/partials/_theme.scss */
.prepare-mode {
  background: #1d1745;
  height: calc(100vh - 173px);
  cursor: pointer;
  transition: .3s;
}
/* line 23, scss/partials/_theme.scss */
.prepare-mode:hover {
  background: #3D3092;
}

/* line 30, scss/partials/_theme.scss */
.theme-question-purple h2 {
  text-align: center;
  padding-top: 10px;
  font-weight: 800;
  font-size: 40px;
}

/* line 1, scss/partials/_list.scss */
.list-subjects, .list-subjects-purple, .list-subjects-green {
  margin-top: 20px;
  width: 100%;
}
/* line 5, scss/partials/_list.scss */
.list-subjects ul, .list-subjects-purple ul, .list-subjects-green ul {
  max-width: 400px;
  margin: auto;
}
/* line 10, scss/partials/_list.scss */
.list-subjects ul li, .list-subjects-purple ul li, .list-subjects-green ul li {
  color: white;
  text-align: center;
  height: 30px;
  border-radius: 15px;
  margin: 3px;
  padding-top: 12px;
  transition: .3s;
}
/* line 21, scss/partials/_list.scss */
.list-subjects h2, .list-subjects-purple h2, .list-subjects-green h2 {
  text-align: center;
  padding-top: 10px;
  font-weight: 800;
  font-size: 40px;
}
/* line 28, scss/partials/_list.scss */
.list-subjects h3, .list-subjects-purple h3, .list-subjects-green h3 {
  text-align: center;
  padding-top: 10px;
  font-weight: 500;
  padding-bottom: 10px;
}

/* line 39, scss/partials/_list.scss */
.list-subjects-purple ul li {
  background: #3D3092;
}
/* line 43, scss/partials/_list.scss */
.list-subjects-purple ul li:hover {
  background: #1d1745;
}

/* line 52, scss/partials/_list.scss */
.list-subjects-green ul li {
  background: #16BF25;
}
/* line 56, scss/partials/_list.scss */
.list-subjects-green ul li:hover {
  background: #0b6413;
}

/* line 61, scss/partials/_list.scss */
.list-questions, .list-questions-purple {
  margin-top: 20px;
  width: 100%;
}
/* line 66, scss/partials/_list.scss */
.list-questions ul, .list-questions-purple ul {
  max-width: 400px;
  margin: auto;
}
/* line 72, scss/partials/_list.scss */
.list-questions ul li, .list-questions-purple ul li {
  margin-bottom: 10px;
}
/* line 76, scss/partials/_list.scss */
.list-questions ul li div, .list-questions-purple ul li div {
  color: white;
  height: 30px;
  margin: 3px;
  padding-top: 12px;
  transition: .3s;
  padding-left: 10px;
}
/* line 85, scss/partials/_list.scss */
.list-questions h2, .list-questions-purple h2 {
  text-align: center;
  padding-top: 10px;
  font-weight: 800;
  font-size: 40px;
}
/* line 92, scss/partials/_list.scss */
.list-questions h3, .list-questions-purple h3 {
  text-align: center;
  padding-top: 10px;
  font-weight: 500;
  padding-bottom: 10px;
}
/* line 99, scss/partials/_list.scss */
.list-questions label, .list-questions-purple label {
  font-size: 20px;
}

/* line 108, scss/partials/_list.scss */
.list-questions-purple ul li div {
  background: #3D3092;
}
/* line 112, scss/partials/_list.scss */
.list-questions-purple ul li div:hover {
  background: #1d1745;
}
