/* line 1, scss/modules/_width100.scss */
.width100 {
  width: 100%;
}

/* line 1, scss/modules/_noselect.scss */
.noselect, .list-subjects li, .list-subjects-purple li, .list-subjects-green li, .list-questions-green li, .student-list li {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, scss/partials/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
/* line 17, scss/partials/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 20, scss/partials/_reset.scss */
body {
  line-height: 1;
}

/* line 23, scss/partials/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 26, scss/partials/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 30, scss/partials/_reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 35, scss/partials/_reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 39, scss/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* *******
** Headers
** ******/
/* line 9, scss/partials/_headers.scss */
#headers-top-bar {
  background: #3D3092;
  height: 50px;
}
/* line 13, scss/partials/_headers.scss */
#headers-top-bar img {
  width: 100px;
  margin-top: 7px;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

/* line 23, scss/partials/_headers.scss */
.header-l-prepare {
  height: 50px;
  width: 100%;
  background: #3D3092;
}
/* line 27, scss/partials/_headers.scss */
.header-l-prepare img {
  margin-left: 10px;
}

/* line 33, scss/partials/_headers.scss */
.header-l-lecture {
  height: 50px;
  width: 100%;
  background: #16BF25;
}
/* line 37, scss/partials/_headers.scss */
.header-l-lecture img {
  margin-left: 10px;
}

/* line 47, scss/partials/_headers.scss */
.header-startpage {
  height: 120px;
  width: 100%;
  background: #3D3092;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 1px 5px #000;
}
/* line 55, scss/partials/_headers.scss */
.header-startpage h3 {
  color: white;
  text-align: center;
  width: 100%;
  margin-top: 10px;
  font-weight: 100;
  font-size: 1em;
}

/* line 69, scss/partials/_headers.scss */
.lecturer-startpage-header {
  height: 163px;
  width: 100%;
  background: #e9e9e9;
}

/* *******
** BUTTONS 
** ******/
/* line 6, scss/partials/_buttons.scss */
.remove-button-style, .button-add, .drawing-app-submit, .drawing-app-question, .drawing-app-camera, .drawing-app-clear {
  outline-style: none;
  border: 0px;
}

/* line 10, scss/partials/_buttons.scss */
.submit, .drawing-app-submit, .drawing-app-question, .drawing-app-camera, .drawing-app-clear, .drawing-app-back, .back-button, .q-button, .q-button-long {
  height: 60px;
  width: 150px;
  border: 2px solid #AFA5FF;
  border-radius: 50px;
  color: #AFA5FF;
  font-size: 16px;
  transition: 0.4s;
  outline-style: none;
  cursor: pointer;
  height: 30px;
  width: 100px;
  background-color: #FFF;
}
/* line 25, scss/partials/_buttons.scss */
.submit:hover, .drawing-app-submit:hover, .drawing-app-question:hover, .drawing-app-camera:hover, .drawing-app-clear:hover, .drawing-app-back:hover, .back-button:hover, .q-button:hover, .q-button-long:hover {
  border: 2px solid #FFF;
  color: #3D3092;
  transition: 0.4s;
}

/* line 33, scss/partials/_buttons.scss */
.button-add {
  width: 100%;
  border: 2px solid #3D3092;
  background-color: white;
  color: #3D3092;
  font-weight: 600;
  font-size: 20px;
  height: 42px;
  border-radius: 15px;
  cursor: pointer;
}
/* line 44, scss/partials/_buttons.scss */
.button-add:hover {
  transition: 0.7s;
  background-color: #3D3092;
  color: white;
}

/* line 54, scss/partials/_buttons.scss */
.button-goto-prepare {
  background-color: #3D3092;
  width: 150px;
  height: 100%;
  display: inline-block;
  float: right;
  color: white;
  text-align: center;
}
/* line 64, scss/partials/_buttons.scss */
.button-goto-prepare p {
  margin-top: 15px;
}
/* line 68, scss/partials/_buttons.scss */
.button-goto-prepare:hover {
  background-color: #2d236c;
}

/* line 73, scss/partials/_buttons.scss */
.button-goto-lecture {
  background-color: #16BF25;
  width: 150px;
  height: 100%;
  display: inline-block;
  float: right;
  color: white;
  text-align: center;
}
/* line 83, scss/partials/_buttons.scss */
.button-goto-lecture p {
  margin-top: 15px;
}
/* line 87, scss/partials/_buttons.scss */
.button-goto-lecture:hover {
  background-color: #11911c;
}

/* line 92, scss/partials/_buttons.scss */
.drawing-app-submit {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* line 102, scss/partials/_buttons.scss */
.drawing-app-question {
  position: absolute;
  top: 60px;
  right: 50%;
  margin-right: -75px;
  z-index: 1000;
}
/* line 113, scss/partials/_buttons.scss */
.drawing-app-question:hover {
  border: 2px solid #3D3092;
  color: #FFF;
  background-color: #3D3092;
  transition: 0.4s;
}

/* line 121, scss/partials/_buttons.scss */
.drawing-app-camera {
  position: absolute;
  top: 60px;
  right: 10px;
  z-index: 1000;
}
/* line 131, scss/partials/_buttons.scss */
.drawing-app-camera:hover {
  border: 2px solid #3D3092;
  color: #FFF;
  background-color: #3D3092;
  transition: 0.4s;
}

/* line 140, scss/partials/_buttons.scss */
.drawing-app-clear {
  position: absolute;
  top: 60px;
  left: 10px;
  z-index: 1000;
}
/* line 150, scss/partials/_buttons.scss */
.drawing-app-clear:hover {
  border: 2px solid #3D3092;
  color: #FFF;
  background-color: #3D3092;
  transition: 0.4s;
}

/* line 158, scss/partials/_buttons.scss */
.drawing-app-back {
  position: absolute;
  top: 10px;
  left: 10px;
}

/* line 167, scss/partials/_buttons.scss */
.back-button {
  position: absolute;
  top: 60px;
  left: 10px;
}

/* line 176, scss/partials/_buttons.scss */
.q-button {
  font-size: 12px;
  border: 2px solid #16BF25;
  color: #16BF25;
  width: 70px;
}
/* line 182, scss/partials/_buttons.scss */
.q-button:hover {
  border: 2px solid white;
  background: #16BF25;
  color: white;
  transition: 0.4s;
}

/* line 190, scss/partials/_buttons.scss */
.q-button-long {
  font-size: 12px;
  border: 2px solid #16BF25;
  color: #16BF25;
  width: 155px;
}
/* line 196, scss/partials/_buttons.scss */
.q-button-long:hover {
  border: 2px solid white;
  background: #16BF25;
  color: white;
  transition: 0.4s;
}

/* line 205, scss/partials/_buttons.scss */
.button-hidden {
  opacity: 0;
  transition: opacity 0.3s linear;
  width: 70px;
  margin-top: 18px;
  margin-left: 20px;
  background: #3D3092;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px;
  z-index: 100;
}

/* line 219, scss/partials/_buttons.scss */
.grid-response:hover .button-hidden {
  opacity: 1;
}

/*.button-correct {
    width: 200px;
    padding: 5px;
    border: none;
    margin-right: 20px;
    font-size: 20px;
}

.button-incorrect {
    width: 200px;
    padding: 5px;
    border: none;
    margin-right: 20px;
    font-size: 20px;
    background: #111111;
    color: #ffffff;
}
*/
/* line 242, scss/partials/_buttons.scss */
.button-correct {
  -moz-box-shadow: inset 0px 1px 0px 0px #a4e271;
  -webkit-box-shadow: inset 0px 1px 0px 0px #a4e271;
  box-shadow: inset 0px 1px 0px 0px #a4e271;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
  background: -moz-linear-gradient(top, #89c403 5%, #77a809 100%);
  background: -webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
  background: -o-linear-gradient(top, #89c403 5%, #77a809 100%);
  background: -ms-linear-gradient(top, #89c403 5%, #77a809 100%);
  background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
  background-color: #89c403;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #74b807;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528009;
  width: 220px;
  margin-right: 20px;
}

/* line 270, scss/partials/_buttons.scss */
.button-correct:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
  background: -moz-linear-gradient(top, #77a809 5%, #89c403 100%);
  background: -webkit-linear-gradient(top, #77a809 5%, #89c403 100%);
  background: -o-linear-gradient(top, #77a809 5%, #89c403 100%);
  background: -ms-linear-gradient(top, #77a809 5%, #89c403 100%);
  background: linear-gradient(to bottom, #77a809 5%, #89c403 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403',GradientType=0);
  background-color: #77a809;
}

/* line 280, scss/partials/_buttons.scss */
.button-correct:active {
  position: relative;
  top: 1px;
}

/* line 286, scss/partials/_buttons.scss */
.button-incorrect {
  -moz-box-shadow: inset 0px 1px 0px 0px #f5978e;
  -webkit-box-shadow: inset 0px 1px 0px 0px #f5978e;
  box-shadow: inset 0px 1px 0px 0px #f5978e;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
  background: -moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background: -webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background: -o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background: -ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
  background-color: #f24537;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
  width: 220px;
  margin-left: 20px;
}

/* line 314, scss/partials/_buttons.scss */
.button-incorrect:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
  background: -moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background: -webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background: -o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background: -ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
  background-color: #c62d1f;
}

/* line 324, scss/partials/_buttons.scss */
.button-incorrect:active {
  position: relative;
  top: 1px;
}

/* line 5, scss/partials/_canvas.scss */
#drawing-app {
  overflow: hidden;
}

/* line 10, scss/partials/_canvas.scss */
#app-bar {
  background: #3D3092;
  height: 70px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* line 17, scss/partials/_canvas.scss */
#app-bar .center {
  position: relative;
  margin: auto;
  z-index: 10;
  width: 400px;
}
/* line 25, scss/partials/_canvas.scss */
#app-bar img {
  height: 30px;
  margin-top: 22px;
  margin-left: 10px;
}
/* line 31, scss/partials/_canvas.scss */
#app-bar .size {
  padding-left: 15px;
}
/* line 35, scss/partials/_canvas.scss */
#app-bar .icon-select {
  display: inline-block;
  height: 70px;
  width: 13%;
}
/* line 41, scss/partials/_canvas.scss */
#app-bar .selected {
  background: #1d1745;
}

/* line 1, scss/partials/_start_three_input.scss */
input:focus {
  outline: none;
}

/* line 5, scss/partials/_start_three_input.scss */
.CodeInput {
  width: 65px;
  height: 65px;
  background: #eee;
  border-radius: 15%;
  border: 1px solid #4a4a4a;
  font-size: 30px;
  text-align: center;
  font-weight: 700;
}

/* line 16, scss/partials/_start_three_input.scss */
#start-input {
  width: 210px;
  margin: auto;
  margin-top: 30px;
}

/* line 22, scss/partials/_start_three_input.scss */
.start-or {
  margin-top: 20px;
  text-align: center;
}
/* line 26, scss/partials/_start_three_input.scss */
.start-or span {
  position: relative;
  display: inline-block;
}

/* line 32, scss/partials/_start_three_input.scss */
.start-or:before {
  content: '';
  border-top: 3px solid #000;
  width: 47%;
  position: absolute;
  height: 5px;
  left: 0;
  margin-top: 10px;
}

/* line 42, scss/partials/_start_three_input.scss */
.start-or:after {
  content: '';
  border-top: 3px solid #000;
  width: 47%;
  position: absolute;
  height: 5px;
  right: 0;
  margin-top: 10px;
}

/* line 52, scss/partials/_start_three_input.scss */
.start-section-subjects {
  margin-top: 20px;
  width: 100%;
}
/* line 57, scss/partials/_start_three_input.scss */
.start-section-subjects ul {
  max-width: 400px;
  margin: auto;
}
/* line 62, scss/partials/_start_three_input.scss */
.start-section-subjects ul li {
  color: white;
  text-align: center;
  height: 30px;
  background: #16BF25;
  border-radius: 15px;
  margin: 3px;
  padding-top: 12px;
  transition: .3s;
}
/* line 73, scss/partials/_start_three_input.scss */
.start-section-subjects ul li:hover {
  background: #0b6413;
}

/* line 1, scss/partials/_images.scss */
.student-startpage-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

/* line 9, scss/partials/_images.scss */
.lecturer-startpage-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

/* line 16, scss/partials/_images.scss */
.images-l-subjects {
  display: inline-block;
  height: 30px;
  padding-top: 10px;
  float: left;
}

/* line 23, scss/partials/_images.scss */
.single-response {
  z-index: -1;
  position: absolute;
  border-radius: 20px;
}

/* Preload images */
/* line 31, scss/partials/_images.scss */
body:after {
  content: url(../assets/images/lightbox-close.png) url(../assets/images/lightbox-loading.gif) url(../assets/images/lightbox-prev.png) url(../assets/images/lightbox-next.png);
  display: none;
}

/* line 39, scss/partials/_images.scss */
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

/* line 50, scss/partials/_images.scss */
.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

/* line 60, scss/partials/_images.scss */
.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 71, scss/partials/_images.scss */
.lightbox a img {
  border: none;
}

/* line 75, scss/partials/_images.scss */
.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 89, scss/partials/_images.scss */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 95, scss/partials/_images.scss */
.lb-container {
  padding: 4px;
}

/* line 99, scss/partials/_images.scss */
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 109, scss/partials/_images.scss */
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../assets/images/lightbox-loading.gif) no-repeat;
}

/* line 117, scss/partials/_images.scss */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 126, scss/partials/_images.scss */
.lb-container > .nav {
  left: 0;
}

/* line 130, scss/partials/_images.scss */
.lb-nav a {
  outline: none;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
}

/* line 135, scss/partials/_images.scss */
.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

/* line 141, scss/partials/_images.scss */
.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../assets/images/lightbox-prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

/* line 154, scss/partials/_images.scss */
.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 159, scss/partials/_images.scss */
.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../assets/images/lightbox-next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

/* line 172, scss/partials/_images.scss */
.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 177, scss/partials/_images.scss */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 190, scss/partials/_images.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 196, scss/partials/_images.scss */
.lb-data {
  padding: 0 4px;
  color: #ccc;
}

/* line 201, scss/partials/_images.scss */
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

/* line 208, scss/partials/_images.scss */
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

/* line 214, scss/partials/_images.scss */
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

/* line 222, scss/partials/_images.scss */
.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../assets/images/lightbox-close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

/* line 238, scss/partials/_images.scss */
.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* *******
** Headers
** ******/
/* line 9, scss/partials/_headers.scss */
#headers-top-bar {
  background: #3D3092;
  height: 50px;
}
/* line 13, scss/partials/_headers.scss */
#headers-top-bar img {
  width: 100px;
  margin-top: 7px;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

/* line 23, scss/partials/_headers.scss */
.header-l-prepare {
  height: 50px;
  width: 100%;
  background: #3D3092;
}
/* line 27, scss/partials/_headers.scss */
.header-l-prepare img {
  margin-left: 10px;
}

/* line 33, scss/partials/_headers.scss */
.header-l-lecture {
  height: 50px;
  width: 100%;
  background: #16BF25;
}
/* line 37, scss/partials/_headers.scss */
.header-l-lecture img {
  margin-left: 10px;
}

/* line 47, scss/partials/_headers.scss */
.header-startpage {
  height: 120px;
  width: 100%;
  background: #3D3092;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 1px 5px #000;
}
/* line 55, scss/partials/_headers.scss */
.header-startpage h3 {
  color: white;
  text-align: center;
  width: 100%;
  margin-top: 10px;
  font-weight: 100;
  font-size: 1em;
}

/* line 69, scss/partials/_headers.scss */
.lecturer-startpage-header {
  height: 163px;
  width: 100%;
  background: #e9e9e9;
}

/* *****
** Font Family
* *****/
/* line 5, scss/partials/_typography.scss */
body {
  font-family: "Arial", serif;
}

/* *****
** Typograhpy
* *****/
/* line 14, scss/partials/_typography.scss */
.type-welcome {
  text-align: center;
  padding-bottom: 10px;
}

/* line 20, scss/partials/_typography.scss */
.type-welcome span {
  font-weight: 600;
}

/* line 25, scss/partials/_typography.scss */
.type-title {
  color: white;
  display: inline-block;
  margin-left: 20px;
  margin-top: 18px;
}

/* line 33, scss/partials/_typography.scss */
.type-body-heading {
  text-align: center;
  padding-top: 10px;
  font-weight: 800;
  font-size: 40px;
}

/* line 40, scss/partials/_typography.scss */
.type-body-subheading {
  text-align: center;
  padding-top: 10px;
  font-weight: 500;
  padding-bottom: 10px;
}

/* line 58, scss/partials/_typography.scss */
.startpage-welcome {
  color: white;
  text-align: center;
  width: 100%;
  margin-top: 10px;
  font-weight: 100;
  font-size: 1em;
}

/* line 69, scss/partials/_typography.scss */
.start-section-input h3 {
  text-align: center;
  padding-top: 10px;
  font-weight: 800;
}

/* line 83, scss/partials/_typography.scss */
.lecturer-startpage-welcome {
  color: #000;
  text-align: center;
  width: 100%;
  margin-top: 10px;
  font-weight: 100;
  font-size: 1em;
}

/* line 92, scss/partials/_typography.scss */
#lecturer-start-username {
  font-weight: 600;
}

/* line 97, scss/partials/_typography.scss */
.type-lecture-mode h2, .type-prepare-mode h2 {
  color: white;
  font-size: 50px;
  text-align: center;
  font-weight: 500;
  padding-top: calc(55vh - 173px);
  margin-bottom: 30px;
}
/* line 106, scss/partials/_typography.scss */
.type-lecture-mode h3, .type-prepare-mode h3 {
  color: white;
  font-weight: 300;
  text-align: center;
}

/* line 113, scss/partials/_typography.scss */
.typography-l-h3 {
  color: white;
  display: inline-block;
  margin-left: 20px;
  margin-top: 18px;
}

/* line 120, scss/partials/_typography.scss */
.type-body-url {
  font-size: 20px;
  text-align: center;
  color: black;
  margin-top: 10px;
}

/* line 127, scss/partials/_typography.scss */
.type-body-response {
  font-size: 20px;
  text-align: left;
  color: black;
  margin-top: 50px;
  margin-left: 50px;
}

/* *******
** THEME SPECIFIC STYLING
** ******/
/* line 5, scss/partials/_theme.scss */
.theme-lecture-mode {
  background-image: url(../assets/images/lecture-mode-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 163px);
  cursor: pointer;
  transition: .5s;
}
/* line 13, scss/partials/_theme.scss */
.theme-lecture-mode:hover {
  opacity: .8;
}

/* line 19, scss/partials/_theme.scss */
.theme-lecture-start a {
  text-decoration: none;
}

/* line 24, scss/partials/_theme.scss */
.theme-prepare-mode {
  background-image: url(../assets/images/prepare-mode-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 163px);
  cursor: pointer;
  transition: .3s;
}
/* line 32, scss/partials/_theme.scss */
.theme-prepare-mode:hover {
  opacity: .8;
}

/* line 37, scss/partials/_theme.scss */
.bg-prepare {
  background-image: url(../assets/images/bg-prepare.jpg);
  background-repeat: none;
  background-size: cover;
}

/* line 43, scss/partials/_theme.scss */
.bg-lecture {
  background-image: url(../assets/images/bg-lecture.jpg);
  background-repeat: none;
  background-size: cover;
}

/* line 50, scss/partials/_theme.scss */
.theme-question-purple h2 {
  text-align: center;
  padding-top: 10px;
  font-weight: 800;
  font-size: 40px;
}

/* line 57, scss/partials/_theme.scss */
.timer-div {
  margin-left: auto;
  margin-right: auto;
}

/* line 63, scss/partials/_theme.scss */
.theme-timer {
  border: 5px solid #3D3092;
  background: #3D3092;
  border-radius: 50%;
  margin-top: 30px;
  -webkit-animation: size 180s infinite linear;
  animation: size 180s infinite linear;
}

@keyframes size {
  from {
    height: 300px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 38.7%;
  }
  to {
    height: 0px;
    width: 0px;
    Margin-top: 160px;
    margin-bottom: 160px;
    margin-left: 50%;
  }
}
/* line 77, scss/partials/_theme.scss */
.theme-time3 {
  width: 300px;
  height: 300px;
  color: white;
  margin-left: 38.7%;
  margin-right: auto;
  border: 5px solid white;
  border-radius: 50%;
  position: absolute;
  top: 140px;
  text-align: center;
}
/* line 88, scss/partials/_theme.scss */
.theme-time3 p {
  margin-top: 10px;
}

/* line 93, scss/partials/_theme.scss */
.theme-time2 {
  width: 200px;
  height: 200px;
  color: white;
  margin-left: 42.3%;
  margin-right: auto;
  border: 5px solid  white;
  border-radius: 50%;
  position: absolute;
  top: 190px;
  text-align: center;
}
/* line 104, scss/partials/_theme.scss */
.theme-time2 p {
  margin-top: 10px;
}

/* line 109, scss/partials/_theme.scss */
.theme-time1 {
  width: 100px;
  height: 100px;
  color: white;
  margin-left: 46%;
  margin-right: auto;
  border: 5px solid  white;
  border-radius: 50%;
  position: absolute;
  top: 240px;
  text-align: center;
}
/* line 120, scss/partials/_theme.scss */
.theme-time1 p {
  margin-top: 25px;
}

/* line 125, scss/partials/_theme.scss */
.theme-response-inner {
  width: 30%;
  height: 50px;
  background: #16BF25;
}

/* line 132, scss/partials/_theme.scss */
.student-question {
  margin-top: 30px;
}

/* line 136, scss/partials/_theme.scss */
.student-responses {
  margin-top: 30px;
}

/* line 141, scss/partials/_theme.scss */
.theme-response-actions {
  margin-top: 30px;
  text-align: center;
}
/* line 145, scss/partials/_theme.scss */
.theme-response-actions h2 {
  font-size: 30px;
}

/* line 151, scss/partials/_theme.scss */
.subject-form {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  background-color: #3D3092;
  color: white;
  font-weight: 600;
  font-size: 20px;
  border-radius: 15px;
  cursor: pointer;
}

/* line 1, scss/partials/_list.scss */
.list-subjects, .list-subjects-purple, .list-subjects-green {
  margin-top: 20px;
  width: 50%;
  margin: auto;
  padding-top: 30px;
}
/* line 10, scss/partials/_list.scss */
.list-subjects li, .list-subjects-purple li, .list-subjects-green li {
  color: white;
  text-align: center;
  height: 30px;
  border-radius: 15px;
  margin: 3px;
  padding-top: 12px;
  transition: .3s;
  cursor: pointer;
}

/* line 27, scss/partials/_list.scss */
.list-subjects-purple li {
  background: #3D3092;
}
/* line 32, scss/partials/_list.scss */
.list-subjects-purple li:hover {
  background: #1d1745;
}
/* line 35, scss/partials/_list.scss */
.list-subjects-purple h3 {
  text-align: center;
  padding-bottom: 10px;
}

/* line 42, scss/partials/_list.scss */
.list-subjects-green {
  opacity: .9;
}
/* line 45, scss/partials/_list.scss */
.list-subjects-green li {
  background: #16BF25;
}
/* line 49, scss/partials/_list.scss */
.list-subjects-green li:hover {
  background: #0b6413;
}
/* line 52, scss/partials/_list.scss */
.list-subjects-green h3 {
  text-align: center;
  padding-bottom: 10px;
}

/* line 58, scss/partials/_list.scss */
#addbutton {
  width: 50%;
  margin: auto;
  text-align: center;
}

/* line 64, scss/partials/_list.scss */
.list-questions-green {
  width: 50%;
  margin: auto;
}
/* line 69, scss/partials/_list.scss */
.list-questions-green li {
  margin-bottom: 10px;
  height: 50px;
  background: #16BF25;
  color: white;
  margin: 3px;
  padding-top: 12px;
  transition: .3s;
  cursor: pointer;
  font-size: 30px;
  padding-left: 20px;
}
/* line 83, scss/partials/_list.scss */
.list-questions-green li button {
  float: right;
}

/* line 88, scss/partials/_list.scss */
.student-list {
  width: 80%;
  margin: auto;
}
/* line 93, scss/partials/_list.scss */
.student-list li {
  margin-bottom: 10px;
  height: 50px;
  background: #16BF25;
  color: white;
  margin: 3px;
  padding-top: 12px;
  transition: .3s;
  cursor: pointer;
  font-size: 30px;
  padding-left: 20px;
  font-size: 30px;
  text-align: center;
}
/* line 107, scss/partials/_list.scss */
.student-list li:hover {
  background: white;
  color: #16BF25;
  transition: 0.4s;
}
/* line 114, scss/partials/_list.scss */
.student-list li button {
  float: right;
}

/* line 119, scss/partials/_list.scss */
.list-questions, .list-questions-purple {
  margin-top: 20px;
  width: 100%;
}
/* line 124, scss/partials/_list.scss */
.list-questions ul, .list-questions-purple ul {
  max-width: 400px;
  margin: auto;
}
/* line 130, scss/partials/_list.scss */
.list-questions ul li, .list-questions-purple ul li {
  margin-bottom: 10px;
}
/* line 134, scss/partials/_list.scss */
.list-questions ul li div, .list-questions-purple ul li div {
  color: white;
  height: 30px;
  margin: 3px;
  padding-top: 12px;
  transition: .3s;
  padding-left: 10px;
}
/* line 143, scss/partials/_list.scss */
.list-questions h2, .list-questions-purple h2 {
  text-align: center;
  padding-top: 10px;
  font-weight: 800;
  font-size: 40px;
}
/* line 150, scss/partials/_list.scss */
.list-questions h3, .list-questions-purple h3 {
  text-align: center;
  padding-top: 10px;
  font-weight: 500;
  padding-bottom: 10px;
}
/* line 157, scss/partials/_list.scss */
.list-questions label, .list-questions-purple label {
  font-size: 20px;
}

/* line 166, scss/partials/_list.scss */
.list-questions-purple ul li div {
  background: #3D3092;
}
/* line 170, scss/partials/_list.scss */
.list-questions-purple ul li div:hover {
  background: #1d1745;
}

/* line 179, scss/partials/_list.scss */
.grid-container {
  margin: 0 auto;
  width: 1200px;
  padding-top: 20px;
}

/* line 186, scss/partials/_list.scss */
.grid-response {
  float: left;
  width: 110px;
  height: 110px;
  overflow: hidden;
  padding: 0px;
  margin: 5px;
  border-radius: 25px;
  border: 4px solid;
  border-color: #3D3092;
}

/*
** Bodies
*/
/* line 4, scss/partials/_updatedCanvas.scss */
.special-body {
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Arial;
  /* prevent text selection on ui */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  /* prevent scrolling in windows phone */
  -ms-touch-action: none;
  /* prevent selection highlight */
  -webkit-tap-highlight-color: transparent;
}

/* line 21, scss/partials/_updatedCanvas.scss */
.header, .footer {
  position: absolute;
  background-color: #222;
  text-align: center;
}

/* line 26, scss/partials/_updatedCanvas.scss */
.header {
  top: 0px;
  left: 0px;
  right: 0px;
  height: 32px;
  padding: 6px;
}

/* line 33, scss/partials/_updatedCanvas.scss */
.footer {
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 42px;
  padding: 2px;
}

/* line 40, scss/partials/_updatedCanvas.scss */
.title {
  width: auto;
  line-height: 32px;
  font-size: 20px;
  font-weight: bold;
  color: #eee;
  text-shadow: 0px -1px #000;
  padding: 0 60px;
  display: inline-block;
}

/* line 50, scss/partials/_updatedCanvas.scss */
.navbtn {
  cursor: pointer;
  float: left;
  padding: 6px 10px;
  font-weight: bold;
  line-height: 18px;
  font-size: 14px;
  color: #eee;
  text-shadow: 0px -1px #000;
  border: solid 1px #111;
  border-radius: 4px;
  background-color: #404040;
  box-shadow: 0 0 1px 1px #555,inset 0 1px 0 0 #666;
  display: inline-block;
}

/* line 66, scss/partials/_updatedCanvas.scss */
.navbtn-hover, .navbtn:active {
  color: #222;
  text-shadow: 0px 1px #aaa;
  background-color: #aaa;
  box-shadow: 0 0 1px 1px #444,inset 0 1px 0 0 #ccc;
}

/* line 73, scss/partials/_updatedCanvas.scss */
.navbtn2 {
  cursor: pointer;
  float: right;
  padding: 6px 10px;
  font-weight: bold;
  line-height: 18px;
  font-size: 14px;
  color: #eee;
  text-shadow: 0px -1px #000;
  border: solid 1px #111;
  border-radius: 4px;
  background-color: #404040;
  box-shadow: 0 0 1px 1px #555,inset 0 1px 0 0 #666;
  display: inline-block;
}

/* line 88, scss/partials/_updatedCanvas.scss */
.navbtn-hover, .navbtn2:active {
  color: #222;
  text-shadow: 0px 1px #aaa;
  background-color: #aaa;
  box-shadow: 0 0 1px 1px #444,inset 0 1px 0 0 #ccc;
}

/* line 95, scss/partials/_updatedCanvas.scss */
#content {
  position: absolute;
  top: 44px;
  left: 0px;
  right: 0px;
  bottom: 40px;
  overflow: hidden;
  background-color: #ddd;
}
/* line 104, scss/partials/_updatedCanvas.scss */
#content p {
  position: absolute;
  top: 40%;
  z-index: 2000;
  color: #16BF25;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  width: 100vw;
}

/* line 115, scss/partials/_updatedCanvas.scss */
#canvas {
  cursor: crosshair;
  background-color: #fff;
}

/* line 119, scss/partials/_updatedCanvas.scss */
.palette-case {
  width: 260px;
  margin: auto;
  text-align: center;
}

/* line 124, scss/partials/_updatedCanvas.scss */
.palette-box {
  float: left;
  padding: 2px 6px 2px 6px;
}

/* line 128, scss/partials/_updatedCanvas.scss */
.palette {
  border: 2px solid #777;
  height: 36px;
  width: 36px;
}

/* line 133, scss/partials/_updatedCanvas.scss */
.red {
  background-color: #c22;
}

/* line 136, scss/partials/_updatedCanvas.scss */
.blue {
  background-color: #22c;
}

/* line 139, scss/partials/_updatedCanvas.scss */
.green {
  background-color: #2c2;
}

/* line 142, scss/partials/_updatedCanvas.scss */
.white {
  background-color: #fff;
}

/* line 145, scss/partials/_updatedCanvas.scss */
.black {
  background-color: #000;
  border: 2px dashed #fff;
}

/* line 155, scss/partials/_updatedCanvas.scss */
#app-bar {
  background: #3D3092;
  height: 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2002;
}

/* line 164, scss/partials/_updatedCanvas.scss */
.button-removal, #tools, #camera, #submit {
  outline: 0;
  border: 0;
  background: 0;
  color: white;
  font-weight: 600;
  font-size: 15px;
  padding-top: 10px;
  cursor: pointer;
}

/* line 183, scss/partials/_updatedCanvas.scss */
#submit {
  background: #16BF25;
  height: 100%;
  padding: 0;
  float: right;
  width: 100px;
  transition: .3s;
}
/* line 192, scss/partials/_updatedCanvas.scss */
#submit:hover {
  background: #11911c;
}

/* line 204, scss/partials/_updatedCanvas.scss */
.closed {
  transform: translate3d(0, 50vh, 0);
}

/* line 208, scss/partials/_updatedCanvas.scss */
#tool-bar {
  transition: .3s;
  position: absolute;
  bottom: 42px;
  z-index: 2000;
  background: #3D3092;
  width: 100%;
  height: 50vh;
}
/* line 217, scss/partials/_updatedCanvas.scss */
#tool-bar .element {
  float: left;
  border-right: 1px solid #1d1745;
  height: 100%;
  width: 33%;
}
/* line 223, scss/partials/_updatedCanvas.scss */
#tool-bar .element h1 {
  color: white;
  text-align: center;
  font-size: 15px;
  font-weight: 200;
  padding-top: 10px;
  margin-bottom: 20px;
}
/* line 232, scss/partials/_updatedCanvas.scss */
#tool-bar .element .selected {
  background: #1d1745;
}
/* line 236, scss/partials/_updatedCanvas.scss */
#tool-bar .element .color-selected {
  border: 1px solid white;
}
/* line 240, scss/partials/_updatedCanvas.scss */
#tool-bar .element div {
  height: 50px;
  width: 50px;
  margin-bottom: 5px;
  position: relative;
  left: 50%;
  margin-left: -25px;
  text-align: center;
}
/* line 249, scss/partials/_updatedCanvas.scss */
#tool-bar .element div i {
  color: white;
  margin-top: 10px;
  font-size: 25px;
}
/* line 255, scss/partials/_updatedCanvas.scss */
#tool-bar .element div p {
  color: white;
  padding-top: 20px;
  font-size: 15px;
  text-align: center;
}
/* line 265, scss/partials/_updatedCanvas.scss */
#tool-bar .element:nth-child(3) {
  border-right: none;
}

/* line 271, scss/partials/_updatedCanvas.scss */
#color-blue {
  background-color: blue;
}

/* line 275, scss/partials/_updatedCanvas.scss */
#color-red {
  background-color: red;
}

/* line 278, scss/partials/_updatedCanvas.scss */
#color-green {
  background-color: green;
}

/* line 284, scss/partials/_updatedCanvas.scss */
.circle-small {
  margin-top: 20px !important;
}

/* line 288, scss/partials/_updatedCanvas.scss */
.circle-medium {
  margin-top: 15px !important;
}

/* line 292, scss/partials/_updatedCanvas.scss */
.circle-large {
  margin-top: 10px !important;
}

/* line 300, scss/partials/_updatedCanvas.scss */
.loading {
  position: absolute;
  z-index: 10000;
  left: 50%;
  top: 40%;
  margin-left: -25px;
  border-bottom: 6px solid rgba(0, 0, 0, 0.1);
  border-left: 6px solid rgba(0, 0, 0, 0.1);
  border-right: 6px solid rgba(0, 0, 0, 0.1);
  border-top: 6px solid #3D3092;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  -webkit-animation: rot .6s infinite linear;
  -moz-animation: rot .6s infinite linear;
  animation: rot .6s infinite linear;
}

@keyframes rot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@-webkit-keyframes rot {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
