/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#top-bar {
  background: #3D3092;
  height: 50px; }
  #top-bar img {
    width: 100px;
    margin-top: 7px;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }

.submit, .drawing-app-submit, .drawing-app-question {
  height: 60px;
  width: 150px;
  border: 2px solid #AFA5FF;
  border-radius: 50px;
  color: #AFA5FF;
  font-size: 16px;
  -webkit-transition: 0.4s;
          transition: 0.4s;
  outline-style: none;
  cursor: pointer;
  height: 30px;
  width: 100px;
  background-color: #3D3092 !important;
  background-color: #FFF; }
  .submit:hover, .drawing-app-submit:hover, .drawing-app-question:hover {
    border: 2px solid #FFF;
    color: #FFF;
    -webkit-transition: 0.4s;
            transition: 0.4s; }

.drawing-app-submit {
  position: absolute;
  top: 10px;
  right: 10px; }

.drawing-app-question {
  position: absolute;
  top: 10px;
  left: 10px; }

#app-bar {
  background: #3D3092;
  height: 70px;
  position: absolute;
  bottom: 0;
  width: 100%; }
  #app-bar img {
    height: 30px;
    margin-top: 22px;
    margin-left: 30px; }
  #app-bar .icon-select {
    display: inline-block;
    margin-left: calc(100vw / 8);
    height: 70px;
    width: 90px; }
  #app-bar .selected {
    background: #1d1745; }
