/* *******
** BUTTONS 
** ******/

// Depen
.remove-button-style {
    outline-style: none;
    border: 0px;
}
.submit {    
    height: 60px;
    width: 150px;
    border: 2px solid $uq-purple;
    border-radius: 50px;
    color: $uq-purple;
    font-size: 16px;
    transition: 0.4s;
    outline-style: none;
    cursor: pointer;
    height: 30px;
    width: 100px;
    outline: none;
    &:focus{
        outline: 0;
        }
    *:focus {
    outline: 0;
    }

    background-color: #FFF;

    &:hover {
        border: 2px solid #FFF;
        color: $uq-purple;
        transition: 0.4s;
    }
}

input:focus {
    outline: none;
}

// Add a subject as a lectruer
.button-add {
    @extend .remove-button-style;
    width: 80%;
	opacity:.8;
    border: 2px solid $uq-purple;
    background-color: white;
    color: $uq-purple;
    font-weight: 600;
    font-size: 20px;
    height: 40px;
    margin-left: 10%;
    border-radius: 15px;
    &:hover {
        transition: 0.7s;
        background-color: $uq-purple;
        color: white;
    }

    cursor: pointer;
}
			
// Lecturer go to prepare mode (header button on right)
.button-goto-prepare {
    background-color: $uq-purple;
    width: 120px;
    height: 100%;
    display: inline-block;
    float: right;

    color: white;
    text-align: center;
    
    p {
        margin-top: 9px;
    }

    &:hover {
        background-color: darken($uq-purple, 10%);
    }

    @media screen and (max-width: $break-small) {
        width: 80px;
    }
}

.button-back-prepare-response {
    background-color: darken(#825194,5%);
    width: 120px;
    height: 100%;
    display: inline-block;
    float: left;
    color: white;
    text-align: center;
    
    p {
        margin-top: 15px;
    }

    &:hover {
        background-color: lighten(#825194, 10%);
    }

    @media screen and (max-width: $break-small) {
        width: 80px;
    }
}

.button-back-lecture-response{
    background-color: darken($uq-green, 10%);
    width: 120px;
    height: $header-height;
    display: inline-block;
    float: left;

    color: white;
    text-align: center;
    
    p {
        margin-top: 15px;
    }

    &:hover {
        background-color: darken($uq-green, 15%);
    }

    @media screen and (max-width: $break-small) {
        width: 80px;
    }
}

.button-back-prepare{
	background-color: $uq-green;
    width: 120px;
    height: $header-height;
    display: inline-block;
    float: left;

    color: white;
    text-align: center;
    
    p {
        margin-top: 15px;
    }

    &:hover {
        background-color: darken($uq-green, 10%);
    }

    @media screen and (max-width: $break-small) {
        width: 80px;
    }
}

.button-back-lecture{
	background-color: darken($uq-green, 10%);
    width: 120px;
    height: $header-height;
    display: inline-block;
    float: left;

    color: white;
    text-align: center;
    
    p {
        margin-top: 15px;
    }

    &:hover {
        background-color: darken($uq-green, 20%);
    }

    @media screen and (max-width: $break-small) {
        width: 80px;
    }
}

.button-goto-lecture {
    background-color: $uq-green;
    width: 120px;
    height: $header-height;
    display: inline-block;
    float: right;

    color: white;
    text-align: center;
    
    p {
        margin-top: 9px;
    }

    &:hover {
        background-color: darken($uq-green, 10%);
    }

    @media screen and (max-width: $break-small) {
        width: 80px;
    }
}

.drawing-app-submit {
	@extend .submit;
    @extend .remove-button-style;

	// Placement
	position: absolute;
	top: 10px;
	right: 10px;
}

.drawing-app-question {
	@extend .submit;
    @extend .remove-button-style;

	// Placement
	position: absolute;
	top: 60px;
	right: 50%;
    margin-right: -75px;
    z-index: 1000;
	
	 &:hover {
        border: 2px solid $uq-purple;
        color: #FFF;
		background-color: $uq-purple;
        transition: 0.4s;
	}
}

.drawing-app-camera {
    @extend .submit;
    @extend .remove-button-style;

    // Placement
    position: absolute;
    top: 60px;
    right: 10px;
    z-index: 1000;
    
     &:hover {
        border: 2px solid $uq-purple;
        color: #FFF;
        background-color: $uq-purple;
        transition: 0.4s;
    }
}


.drawing-app-clear {
    @extend .submit;
    @extend .remove-button-style;

    // Placement
    position: absolute;
    top: 60px;
    left: 10px;
    z-index: 1000;
    
     &:hover {
        border: 2px solid $uq-purple;
        color: #FFF;
        background-color: $uq-purple;
        transition: 0.4s;
    }
}

.drawing-app-back {
	@extend .submit;

	// Placement
	position: absolute;
	top: 10px;
	left: 10px;
}

.back-button {
	@extend .submit;

	// Placement
	position: absolute;
	top: 60px;
	left: 10px;
}

.q-button {
	@extend .submit;
	font-size: 12px;
	color: $uq-purple;
	border:2px solid $uq-purple;
	width: 60px;
	margin:1px;
	&:hover {
		background: $uq-purple;
        color: white;
		border:2px solid $uq-purple;
        transition: 0.4s;
	}
}

.q-button-long {
	@extend .submit;
	font-size: 12px;
	border: 2px solid $uq-purple;
	color: $uq-purple;
	width: 130px;
	&:hover {
        border: 2px solid $uq-purple;
		background: $uq-purple;
        color: white;
        transition: 0.4s;
	}
}

//buttons in subject page
.add-button {
    @extend .submit;
    font-size: 14px;
    color: $uq-purple;
    margin-top: 18px;
    margin-left: 20px;
    width: 80px;
    border: none;
    &:hover {
        background: $uq-green;
        border: none;
        color: white;
        transition: 0.4s;
    }
}

//buttons in makequestion page
.add-button-m {
    @extend .submit;
    font-size: 14px;
    color: $uq-purple;
    margin-top: 18px;
    margin-left: 20px;
    width: 80px;
    border: none;
    &:hover {
        background: $uq-green;
        border: none;
        color: white;
        transition: 0.4s;
    }
}

.add-button-e {
    @extend .submit;
    font-size: 14px;
    color: $uq-green;
    width: 80px;
    border: none;
    margin-top: 20px;
    &:hover {
        background: $uq-purple;
        border: none;
        color: white;
        transition: 0.4s;
    }
}

//style for buttons in a single response
.button-hidden {
    opacity: 0;
    transition: opacity 0.3s linear;
    width: 70px;
    margin-top: 18px;
    margin-left: 20px;
    background: $uq-purple;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px;
    z-index: 100;
}

.grid-response:hover .button-hidden{
        opacity: 1;
}

//style for correct and incorrect buttons
/*.button-correct {
    width: 200px;
    padding: 5px;
    border: none;
    margin-right: 20px;
    font-size: 20px;
}

.button-incorrect {
    width: 200px;
    padding: 5px;
    border: none;
    margin-right: 20px;
    font-size: 20px;
    background: #111111;
    color: #ffffff;
}
*/
.button-correct {
    -moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
    -webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
    box-shadow:inset 0px 1px 0px 0px #a4e271;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
    background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);
    background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
    background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);
    background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);
    background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
    background-color:#89c403;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #74b807;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: "open-sans", Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528009;
    width: 40%;
    margin-right: 20px;
    outline: none;
}
.button-correct:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
    background:-moz-linear-gradient(top, #77a809 5%, #89c403 100%);
    background:-webkit-linear-gradient(top, #77a809 5%, #89c403 100%);
    background:-o-linear-gradient(top, #77a809 5%, #89c403 100%);
    background:-ms-linear-gradient(top, #77a809 5%, #89c403 100%);
    background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403',GradientType=0);
    background-color:#77a809;
}
.button-correct:active {
    position:relative;
    top:1px;
}

//incorrect button
.button-incorrect {
    -moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
    box-shadow:inset 0px 1px 0px 0px #f5978e;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
    background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
    background-color:#f24537;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #d02718;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:"open-sans", Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #810e05;
    width: 40%;
    margin-left: 20px;
    outline: none;
}
.button-incorrect:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
    background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
    background-color:#c62d1f;
}
.button-incorrect:active {
    position:relative;
    top:1px;
}


/*input file button in makequestion page*/
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.upload-file {
    font-size: 14px;
    color: $uq-purple;
    background-color: white;
    padding: 10px; 
    width: 100px;
    border-radius: 18px;
    &:hover {
        background: $uq-green;
        border: none;
        color: white;
        transition: 0.4s;
        cursor: pointer;
    }
}