/* *******
** Headers
** ******/

// Variables:
$header-height: 50px;

// Top Bar
#headers-top-bar {
    background: $uq-purple;
    height: 40px;

    img {
        width: 100px;
        margin-top:7px;
        margin-right: auto;
        margin-left: auto;
        @include centerer(true, false);
    }

    #submit {
        height: 40px!important;
    }
}

// Header for Prepare (ie Purple)
.header-l-prepare {
    height: $header-height;
    width: 100%;
    background: $uq-purple;
	.headerpos {
        margin-right: auto;
        margin-left: auto;
        @include centerer(true, false);
    }
	
}

// Header for Lecture (ie Green)
.header-l-lecture {
    height: $header-height;
    width: 100%;
    background: $uq-green;
	.headerpos {
        margin-right: auto;
        margin-left: auto;
        @include centerer(true, false);
    }
}





// Student
.header-startpage {
    height: 120px;
    width: 100%;
    background: $uq-purple;
		box-shadow: 0px 1px 5px #000000;
}

// Lecturer


.lecturer-startpage-header {
	height: 163px;
    width: 100%;
    background: #ffffff;
}

