.list-subjects {
	margin-top: 20px;
	width: 50%;
	margin: auto;
	padding-top: 30px;
	
	li {
		color: white;
		text-align: center;
		height: 30px;
		border-radius: 15px;
		margin: 3px;
		padding-top: 12px;
		transition: .3s;
		cursor: pointer;
		@extend .noselect;
	}
}

.list-subjects-purple {
	@extend .list-subjects;

	li {
		background: $uq-purple;

	}

	li:hover {
		background: darken($uq-purple, 10%);
	}
	h3 {
		text-align:center;
		padding-bottom:10px;
	}
	
}

.list-subjects-green {
	@extend .list-subjects;
		opacity: .8;
	li {
		background: $uq-green;
	}

	li:hover {
		background: darken($uq-green, 20%);
	}
	h3 {
		text-align:center;
		padding-bottom:10px;
	}
}

#addbutton{
	width:50%;
	margin: auto;
	text-align:center;
}

.list-questions-green {
	@extend .list-subjects;
		opacity: .9;
	li {
		background: $uq-green;
		text-align:left;
		padding-right:5px;
	}

	li:hover {
		background: darken($uq-green, 20%);
	}
	h3 {
		text-align:center;
		padding-bottom:10px;
	}

	li button {
		float: right;
		margin-top: -5px;
	}
}




.student-list {
	width: 80%;
	margin: auto;
	
	
	li {
		margin-bottom: 10px;
		background: $uq-green;
		color: white;
		margin: 3px;
		padding-top: 10px;
		padding-bottom: 10px;
		transition: .3s;
		cursor: pointer;
		@extend .noselect;
		font-size: 30px;
		padding-left:20px;
		font-size: 20px;
		text-align:center;
	&:hover {
		background: white;
        color: $uq-green;
        transition: 0.4s;
	}
	}

	li button {
		float: right;
	}
}

.list-questions {
	@extend .list-subjects;

	ul li {
		color: white;
		min-height: 30px;
		margin: auto;
		border-radius:15px;
		padding-top: 12px;
		transition: .3s;
		padding-left: 3px;
		display: table;
		width:100%;
	}

	h2 {
		text-align: center;
		padding-top: 10px;
		font-weight: 800;
		font-size: 40px;
	}

	h3 {
		text-align: center;
		padding-top: 10px;
		font-weight: 500;
		padding-bottom: 10px;
	}

	label {
		font-size: 20px;
		color: black;
	}
	.button {
		border-radius: 12px;
		margin-right:5px;
		transition: 0.4s;
		cursor: pointer;
		background:white;
		height: 25px;
		float:right;
		font-size: 12px;
		border: 2px solid white;
		color: $uq-purple;
		width: 75px;
		&:hover {
			border: 2px solid $uq-purple;
			background: $uq-purple;
			color: white;
			transition: 0.4s;
		}
	}

}

.list-make-green {
	@extend .list-questions;

 div {
		background:  $uq-green;
	}
	
	.button {
		color: $uq-green;
		&:hover {
			border: 2px solid $uq-green;
			background: $uq-green;
			color: white;
			transition: 0.4s;
		}
	}
 #addbutton{
	width:100%;
 }

}

.list-questions-purple {
	@extend .list-questions;

	ul li div {
		background:  $uq-purple;
	}


}

//style for response page grid layout
.grid-container {
	margin: 0 auto;
	width: 1200px;
	padding-top: 20px; 
}

//style for single grid block
.grid-response {
	float: left;
	width: 110px;
	height: 110px;
	overflow: hidden;
	padding: 0px;
	margin: 5px;
	border-radius: 25px;
    border: 4px solid;
    border-color: $uq-purple; 
}

.question-container{
		color: white;
		min-height: 30px;
		margin-top: 3px;
		border-radius:15px;
		padding-top: 8px;
		transition: .3s;
		padding-left: 10px;
		display: table;
		min-width: 100%;
}

.question{
	float: left;
	padding-bottom: 12px;
	text-align: left;
	white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
	width:30vw;
	&:hover{
		white-space: normal; 
		text-overflow: inherit;
		overflow: visible;
	}
}

.question-button{
	float:right;
	width:38%;
	border-radius:200px;
}


/* Style for text input animation Isao */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin-right: 1em;
	max-width: 22%;
	width: calc(100% - 2em);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #6a7989;
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}

.input__field--isao {
	z-index: 10;
	padding: 0.75em 0.1em 0.25em;
	width: 100%;
	background: transparent;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
}

.input__label--isao {
	position: relative;
	overflow: hidden;
	padding: 0;
	width: 100%;
	color: #dadada;
	text-align: left;
}

.input__label--isao::before {
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 7px;
	background: #dadada;
	-webkit-transform: scale3d(1, 0.4, 1);
	transform: scale3d(1, 0.4, 1);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
	transition: transform 0.3s, background-color 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.input__label--isao::after {
	content: attr(data-content);
	position: absolute;
	top: 0;
	left: 0;
	padding: 0.75em 0.15em;
	color: #8ED676;
	opacity: 0;
	-webkit-transform: translate3d(0, 50%, 0);
	transform: translate3d(0, 50%, 0);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	pointer-events: none;
}

.input__field--isao:focus + .input__label--isao::before {
	background-color: #8ED676;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

.input__field--isao:focus + .input__label--isao {
	pointer-events: none;
}

.input__field--isao:focus + .input__label--isao::after {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.input__label-content--isao {
	padding: 0.75em 0.15em;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.input__field--isao:focus + .input__label--isao .input__label-content--isao {
	opacity: 0;
	-webkit-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0);
}