// CANVAS STYLING
// *********************************************

.special-body {
    margin:0px;
    width:100%;
    height:100%;
    overflow: hidden;
    font-family:Arial;
    /* prevent text selection on ui */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /* prevent scrolling in windows phone */
    -ms-touch-action: none;
    /* prevent selection highlight */
    -webkit-tap-highlight-color: rgba(0,0,0,0);

}
        
.header, .footer{
    position: absolute;
    background-color: #222;
    text-align: center;
}
.header {
    top: 0px;
    left: 0px;
    right: 0px;
    height: 32px;
    padding:6px;
}
.footer {
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 42px;
    padding:2px;    
}
.title {
    width: auto;
    line-height: 32px;
    font-size: 20px;
    font-weight: bold;
    color: #eee;
    text-shadow: 0px -1px #000;
    padding:0 60px;
    display: inline-block;
}
.navbtn {
    cursor: pointer;
    float:left;
    padding: 6px 10px;
    font-weight: bold;
    line-height: 18px;
    font-size: 14px;
    color: #eee;
    text-shadow: 0px -1px #000;
    border: solid 1px #111;
    border-radius: 4px;
    background-color: #404040;
    box-shadow: 0 0 1px 1px #555,inset 0 1px 0 0 #666;  
        display: inline-block;     
   
}
.navbtn-hover, .navbtn:active {
    color: #222;
    text-shadow: 0px 1px #aaa;
    background-color: #aaa;
    box-shadow: 0 0 1px 1px #444,inset 0 1px 0 0 #ccc;   
}

.navbtn2 {
    cursor: pointer;
    float:right;
    padding: 6px 10px;
    font-weight: bold;
    line-height: 18px;
    font-size: 14px;
    color: #eee;
    text-shadow: 0px -1px #000;
    border: solid 1px #111;
    border-radius: 4px;
    background-color: #404040;
    box-shadow: 0 0 1px 1px #555,inset 0 1px 0 0 #666;
    display: inline-block;     
}
.navbtn-hover, .navbtn2:active {
    color: #222;
    text-shadow: 0px 1px #aaa;
    background-color: #aaa;
    box-shadow: 0 0 1px 1px #444,inset 0 1px 0 0 #ccc;   
}

#content{
    position: absolute;
    top: 44px;
    left: 0px;
    right: 0px;
    bottom: 40px;
    overflow:hidden;
    background-color:#ddd;

    p {
    	position: absolute;
    	top: 40%;
    	z-index: 1000;
    	color: $uq-green;
    	text-align: center;
    	font-size: 20px;
    	font-weight: 500;
    	width: 100vw;
    }
}
#canvas{
    cursor: crosshair;
    background-color:#fff;
}
#canvas.small {
    cursor: url('../assets/images/erasor_small.png') 5 5, crosshair;
}
#canvas.medium {
    cursor: url('../assets/images/erasor_medium.png') 10 10, crosshair;
}
#canvas.large {
    cursor: url('../assets/images/erasor_large.png') 20 20, crosshair;
}

.palette-case {
    width:260px;
    margin:auto;
    text-align:center;
}
.palette-box {
    float:left;
    padding:2px 6px 2px 6px;
}
.palette {
    border:2px solid #777;
    height:36px;
    width:36px;
}
.red{
    background-color:#c22;
}
.blue{
    background-color:#22c;
}
.green{
    background-color:#2c2;
}
.white{
    background-color:#fff;
}
.black{
    background-color:#000;
    border:2px dashed #fff;
}
// *********************************************



// App Bar
// *********************************************
#app-bar {
	background: $uq-purple;
	height: 40px;
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 2002;
}

.button-removal {
	outline: 0;
	border: 0;
	background: 0;
	color: white;
	font-weight: 600;
	font-size: 15px;
	padding-top: 10px;
	cursor: pointer;
}

#tools {
	@extend .button-removal;
	float: left;
}

#camera {
	@extend .button-removal;
	position: absolute;
    &:hover {
        background: darken($uq-purple, 10%);
    }
    cursor: pointer;
}

#insert-into-canvas {
    @extend .button-removal;
    background: white;
    margin: auto;
    text-align: center;    
}

#question {
    @extend .button-removal;
    height: 100%;
    top: 0px;
    position: absolute;
    padding: 0;
    width: 100px;
    transition: .3s;
    outline: 0;
    border: none;

    &:focus {
        outline: none;
        border: none;
    }

    &:hover {
        background: darken($uq-purple, 10%);
    }
}

#question.close {
    background: red;
}

.input-group {
	display: inline-block;
    width: 50px;
    height: 30px;
    overflow:hidden;
    position: relative;

	input {
		height: 40px;
		opacity:0; /* this will make it transparent */
	    filter: alpha(opacity=0); /* transparency for Internet Explorer */
	    position: absolute;  /* making it absolute with z-index:1 will place it on top of the button */
	    z-index: 1;
	    top: 0;
	    right: 0;
	    padding: 0;
	    margin: 0;
	}
}

#submit {
	@extend .button-removal;
	background: $uq-green;
	height: 100%;
	padding: 0;
	float: right;
	width: 100px;
	transition: .3s;
    outline: 0;
    border: none;

    &:focus {
        outline: none;
        border: none;
    }

	&:hover {
		background: darken($uq-green, 10%);
	}
}
*:focus {
    outline: none;
}
// *********************************************




// Tool Bar
// *********************************************
// Break points 
$break-small: 960px;
$break-small-a: 961px;

$break-h-small: 690px;
$break-h-small-a: 691px;


.closed {
	@media screen and (max-width: $break-small) {
		transform: translate3d(-100vw, 0, 0);
		-webkit-transform: translate3d(-100vw, 0, 0);
	}

    @media screen and (min-width: $break-small-a) and (max-height: $break-h-small) {
        transform: translate3d(-100vw, 0, 0);
        -webkit-transform: translate3d(-100vw, 0, 0);
    }

    @media screen and (min-width: $break-small-a) and (min-height: $break-h-small-a) {
		transform: translate3d(-300px, 0, 0);
		-webkit-transform: translate3d(-300px, 0, 0);
	}
	
}


@mixin element {
    .element {
        float: left;
        border-right: 1px solid darken($uq-purple, 20%);
        height: 100%;
        width: 33%;


        h1 {
            color: white;
            text-align: center;
            font-size: 15px;
            font-weight: 200;
            padding-top: 10px;
            margin-bottom: 20px;
        }

        .selected {
            background: darken($uq-purple, 20%);
        }

        .color-selected {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;

            border: 1px solid white;
        }

        .cont {
            height: 50px;
            width: 50px;
            margin-bottom: 5px;
            position: relative;
            left: 50%;
            margin-left: -25px;
            text-align:center;

                i {
                    cursor: pointer;
                    color: white;
                    margin-top: 10px;
                    font-size: 25px;
                }

                p {
                    cursor: pointer;
                    color: white;
                    padding-top: 20px;
                    font-size: 15px;
                    text-align: center;
                }

        }
    } 

    .element:nth-child(3) {
        border-right: none;
    }
}

@mixin elementdesktop {
    .element {
        display: block;

        h1 {
            color: white;
            text-align: center;
            font-size: 15px;
            font-weight: 200;
            padding-top: 10px;
            margin-bottom: 20px;
            background: darken($uq-purple, 20%);
            padding-bottom: 10px;
            margin-top: 10px;
        }

        .selected {
            background: darken($uq-purple, 20%);
        }

        .color-selected {
                        box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;

            border: 1px solid white;
        }

        .cont {
            height: 50px;
            width: 50px;
            position: relative;
            left: 50%;
            margin-left: -25px;
            text-align:center;
            

            i {
                color: white;
                margin-top: 10px;
                font-size: 25px;
            }

            p {
                color: white;
                padding-top: 20px;
                font-size: 15px;

                text-align: center;
            }
        }
    }
}

#tool-bar {
    @mixin general {
    	transition: .3s;
    	position: absolute;
    	left: 0;
    	z-index: 2000;
    	background: $uq-purple;
    }

	@media screen and (max-width: $break-small) {
        @include general;
		width: 100%;
		height: 250px;
		float: none;
        @include element;
	}

    @media screen and (min-width: $break-small-a) and (max-height: $break-h-small) {
         @include general;
        width: 100%;
        height: 250px;
        float: none;
        @include element;
    }

    @media screen and (min-width: $break-small-a) and (min-height: $break-h-small-a) {
        @include general;
        width: 80px;
        height: 100%;
        @include elementdesktop;
        
    }
}



#color-blue {
	background-color: blue;
    width: 20px !important;
    height: 20px !important;
    display: inline-block;
}

#color-red {
	background-color: red;
    width: 20px !important;
    height: 20px !important;
}
#color-green {
	background-color: green;
    width: 20px !important;
    height: 20px !important;
}

// Circles

.circle-small {
	margin-top: 20px!important;
}

.circle-medium {
	margin-top: 15px!important;
}

.circle-large {
	margin-top: 10px!important;
}
// *********************************************


// Loading spinner
// *********************************************
.loading {
  position: absolute;
  z-index: 10000;
  left: 50%;
  top: 40%;
  margin-left: -25px;
  border-bottom: 6px solid rgba(0, 0, 0, .1);
  border-left: 6px solid rgba(0, 0, 0, .1);
  border-right: 6px solid rgba(0, 0, 0, .1);
  border-top: 6px solid $uq-purple;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  -webkit-animation: rot .6s infinite linear;
  -moz-animation: rot .6s infinite linear;
  animation: rot .6s infinite linear;
}

@keyframes rot {
	from {transform: rotate(0deg);}
	to {transform: rotate(359deg);}
}

@-webkit-keyframes rot {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(359deg);}
}
// *********************************************


/* Floating part

*/
#question-container {
    -webkit-transform: translate3d(0, 0, 0);
    position: absolute;
    z-index: 2000;
    margin: 0 auto;
    background: $uq-purple;
    width: 100%;
    transition: .3s ease-in-out;

    h1 {
        color: white;
        font-size: 40px;
        font-weight: 500;
        text-align: center;
        padding-top: 20px;
    }

    button {
        max-width: 80%;
        margin: auto;
        display: block;
        margin-bottom: 10px;
        color: white;
        background: $uq-green;
    }
    h2 {
        color: white;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        padding-top: 20px;
        width: 80%;
        margin: auto;
    }

    @media screen and (max-width: $break-small) {
        height: 100vh;
    }

    @media screen and (min-width: $break-small-a) and (max-height: $break-h-small) {
        height: 100vh;    
    }

    @media screen and (min-width: $break-small-a) and (min-height: $break-h-small-a) {
        height: 100%;
    }
    margin: auto;

    img {
        max-width: 80%;
        margin: auto;
        border: 1px solid white;
        display: block;
    }
}

#question-container.closed {

    @media screen and (max-width: $break-small) {
        -webkit-transform: translate3d(0, -120vh, 0);
    }

    @media screen and (min-width: $break-small-a) and (max-height: $break-h-small) {
        -webkit-transform: translate3d(0, -120vh, 0);
    }

    @media screen and (min-width: $break-small-a) and (min-height: $break-h-small-a) {
        -webkit-transform: translate3d(0, -100%, 0);
    }
}

#starting-text {
    color: black;
}

