/* line 1, ../scss/modules/_width100.scss */
.width100 {
  width: 100%;
}

/* line 1, ../scss/modules/_noselect.scss */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
