/* *******
** BUTTONS 
** ******/

// Depen
.remove-button-style {
    outline-style: none;
    border: 0px;
}
.submit {    
    height: 60px;
    width: 150px;
    border: 2px solid #AFA5FF;
    border-radius: 50px;
    color: #AFA5FF;
    font-size: 16px;
    transition: 0.4s;
    outline-style: none;
    cursor: pointer;
    height: 30px;
    width: 100px;

    background-color: #FFF;

    &:hover {
        border: 2px solid #FFF;
        color: #FFF;
        transition: 0.4s;
    }
}

// Add a subject as a lectruer
.button-add-subject {
    @extend .remove-button-style;
    width: 100%;
    border: 2px solid $uq-purple;
    background-color: white;
    color: $uq-purple;
    font-weight: 600;
    font-size: 20px;
    height: 42px;
    border-radius: 15px;

    &:hover {
        transition: 0.7s;
        background-color: $uq-purple;
        color: white;
    }

    cursor: pointer;
}
			
// Lecturer go to prepare mode (header button on right)
.button-goto-prepare {
    background-color: $uq-purple;
    width: 150px;
    height: 100%;
    display: inline-block;
    float: right;

    color: white;
    text-align: center;
    
    p {
        margin-top: 15px;
    }

    &:hover {
        background-color: darken($uq-purple, 10%);
    }
}

.button-goto-lecture {
    background-color: $uq-green;
    width: 150px;
    height: 100%;
    display: inline-block;
    float: right;

    color: white;
    text-align: center;
    
    p {
        margin-top: 15px;
    }

    &:hover {
        background-color: darken($uq-green, 10%);
    }
}

.drawing-app-submit {
	@extend .submit;
    @extend .remove-button-style;

	// Placement
	position: absolute;
	top: 10px;
	right: 10px;
}

.drawing-app-question {
	@extend .submit;

	// Placement
	position: absolute;
	top: 10px;
	left: 10px;
}

