// This is for the drawing tool

// Canvas size is set in JS

// Top Bar
#app-bar {
	background: $uq-purple;
	height: 70px;
	position: absolute;
	bottom: 0;
	width: 100%;

	img {
		height: 30px;
		margin-top: 22px;
		margin-left: 30px;

	}

	.icon-select {
		display: inline-block;
		margin-left: calc(100vw / 8);
		height: 70px;
		width: 90px;
	}

	.selected {
		background: darken($uq-purple, 20%);
	}

	
}



