// This is for the drawing tool

// Canvas size is set in JS

#drawing-app {
	overflow: hidden;
}

// Top Bar
#app-bar {
	background: $uq-purple;
	height: 70px;
	position: absolute;
	bottom: 0;
	width: 100%;

	img {
		height: 30px;
		margin-top: 22px;
		margin-left: 45%;

	}

	.icon-select {
		display: inline-block;
		height: 70px;
		width: 16%;
	}

	.selected {
		background: white;
	}

	
}



