// Top Bar
#top-bar {
    background: $uq-purple;
    height: 50px;

    img {
        width: 100px;
        margin-top:7px;
        margin-right: auto;
        margin-left: auto;
        @include centerer(true, false);
    }
}

// Student
.header-startpage {
    height: 173px;
    width: 100%;
    background: $uq-purple;
}

// Lecturer
.lecturer-startpage-header {
	height: 173px;
    width: 100%;
    background: white;
    margin-bottom: 20px;
}

.header-l-subjects-header {
	height: 50px;
    width: 100%;
    background: $uq-green;
}