.images-startpage-logo {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.images-l-subjects {
	display: inline-block;
	height: 30px;
    padding-top: 10px;
    float: left;
}