/* *******
** THEME SPECIFIC STYLING
** ******/

.theme-lecture-mode {
	background-image: url(../assets/images/lecture-mode-bg.png);
	background-repeat: no-repeat;
    background-size: cover;
	height: calc(100vh - 173px);
	cursor: pointer;
	transition: .5s;
	
	&:hover {
		opacity: .8;
	}
}

.theme-lecture-start{
a {
		 text-decoration: none;
	}
}

.theme-prepare-mode {
	background-image: url(../assets/images/prepare-mode-bg.png);
	background-repeat: no-repeat;
    background-size: cover;
	height: calc(100vh - 173px);
	cursor: pointer;
	transition: .3s;

	&:hover {
		opacity: .8;
	}
}

.bg{
	background-image: url(../assets/images/bg.png);
	background-repeat:none;
	background-size:cover;
}

.theme-question-purple {
	h2 {
		text-align: center;
		padding-top: 10px;
		font-weight: 800;
		font-size: 40px;
	}
}
