/* *******
** THEME SPECIFIC STYLING
** ******/

.theme-lecture-mode {
	background-image: url(../assets/images/lecture-mode-bg.png);
	background-repeat: no-repeat;
    background-size: cover;
	height: calc(100vh - 163px);
	cursor: pointer;
	transition: .5s;
	
	&:hover {
		opacity: .8;
	}
}

.theme-lecture-start{
a {
		 text-decoration: none;
	}
}

.theme-prepare-mode {
	background-image: url(../assets/images/prepare-mode-bg.png);
	background-repeat: no-repeat;
    background-size: cover;
	height: calc(100vh - 163px);
	cursor: pointer;
	transition: .3s;

	&:hover {
		opacity: .8;
	}
}

.bg-prepare{
	background-image: url(../assets/images/bg-prepare.jpg);
	background-repeat:none;
	background-size:cover;
}

.bg-lecture{
	background-image: url(../assets/images/bg-lecture.jpg);
	background-repeat:none;
	background-size:cover;
}

.theme-question-purple {
	h2 {
		text-align: center;
		padding-top: 10px;
		font-weight: 800;
		font-size: 40px;
	}
}

.theme-response-holder {
	width: 80%;
	margin: auto;
	border: 1px solid #000;
	height: 50px;
	margin-top: 30px;
}

.theme-response-inner {
	width: 30%;
	height: 50px;
	background: $uq-green;

}

.student-question{
	margin-top: 30px;
}

.student-responses{
	margin-top: 30px;
}

// This is for the buttons and time left lecture side 
.theme-response-actions {
	margin-top: 30px;
	text-align: center;

	h2 {
		font-size: 30px;

	}
}

.subject-form{
	padding-top:12px;
	padding-bottom:12px;
    width: 100%;
    background-color: $uq-purple;
    color: white;
    font-weight: 600;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
}
