.theme-lecturer-startpage-body {

}

// Start page
.lecture-mode {
	background-image: url(../assets/images/lecture-mode-bg.png);
	background-repeat: no-repeat;
    background-size: cover;
	height: calc(100vh - 173px);
	cursor: pointer;
	transition: .5s;
	
	&:hover {
		opacity: .9;
	}
}

.lecture-start{
a {
		 text-decoration: none;
	}
}

.prepare-mode {
	background-image: url(../assets/images/prepare-mode-bg.png);
	background-repeat: no-repeat;
    background-size: cover;
	height: calc(100vh - 173px);
	cursor: pointer;
	transition: .3s;

	&:hover {
		opacity: .9;
	}
}


.theme-question-purple {
	h2 {
		text-align: center;
		padding-top: 10px;
		font-weight: 800;
		font-size: 40px;
	}
}

.theme-lecture-start {

}


// Student side