/* *****
** Font Family
* *****/

body {
	font-family: "Ariel", serif;
}

/* *****
** Typograhpy
* *****/

// This is for the text "Welcome User"
.type-welcome {
	text-align: center;
}

// This is for the text "Welcome *User*" where it covers the user
.type-welcome span {
	font-weight: 600;
}

// Student Start Page

.startpage-welcome {
	color: white;
	text-align: center;
	width: 100%;
	margin-top: 10px;
	font-weight: 100;
	font-size: 1em;
}

.start-section-input {

	h3 {
		text-align: center;
		padding-top: 10px;
		font-weight: 800;
	}
}

.start-section-subjects {

	
}

// Lecturer Start Page

.lecturer-startpage-welcome {
	color: #000;
	text-align: center;
	width: 100%;
	margin-top: 10px;
	font-weight: 100;
	font-size: 1em;
}

#lecturer-start-username {
	font-weight: 600;
}

.type-lecture-mode, .type-prepare-mode {
	h2 {
		color: white;
		font-size: 50px;
		text-align: center;
		font-weight: 500;
		padding-top: calc(55vh - 173px);
		margin-bottom: 30px;
	}

	h3 {
		color: white;
		font-weight: 300;
		text-align: center;
	}
}

.typography-l-h3 {
	color: white;
	display: inline-block;
	margin-left: 20px;
	margin-top: 18px;
}
